.home {

  .top-section {
    border-bottom: 2px dashed @navigation-border;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .team-members {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }

  .team-members-inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      width: 48%;
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      width: 48%;
      padding-right: 1%;
      padding-left: 0;

      img {
        border-radius: 10px;
      }
    }
  }

  .content-end {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .download {
      width: 30%;
      margin-bottom: 30px;
    }

    .btn {
      .btn-custom(center, center);
      background-color: @button-bg;
      width: 80%;
      .btn-padding-border();
      .btn-font-color();
      .btn-font-size();
      .btn-font-weight();
    }
  }
}// home