.home {

    // .top-section {
    //   border-bottom: 2px dashed @navigation-border;
    //   margin-top: 20px;
    //   margin-bottom: 100px;
    // }

  .team-members {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }

  .team-members-inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      width: 48%;
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      width: 48%;
      padding-right: 1%;
      padding-left: 0;

      img {
        border-radius: 10px;
      }
    }
  }

  .content-end {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .download {
      width: 30%;
      margin-bottom: 30px;
    }

    .btn {
      .btn-custom(center, center);
      background-color: @button-bg;
      width: 80%;
      .btn-padding-border();
      .btn-font-color();
      .btn-font-size();
      .btn-font-weight();
    }
  }
}// home

@media @mobile {
  .content-section {
    display: flex;
    flex-direction: column;
    max-width: 510px;
    height: auto;

    .text-content h2 {
        max-width: 490px;
        height: auto;
        text-align: left;
        margin-left: 0%;
    }

    .text-content p {
        width: 490px;
        height: auto;
        text-align: left;
        margin-left: 0%;
    }

    img {
        justify-self: center;
        max-width: 490px;
        height: auto;
        transform: scale(1.2, 1.1);
        margin-left: 17%;
        margin-top: 10px;
    }
  }

  .inverse-content {
    flex-direction: column-reverse;

    img {
      margin-left: 19%;
    }
  }

  .content-end {
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 480px;

    .download {
      width: 380px;
      margin-left: 11%;
      h4, p, .btn {
        width: 380px;
      }
    }
  }
}

@media @tablet {
  .content-section {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: auto;

    .text-content h2 {
        max-width: 490px;
        height: auto;
        text-align: left;
        margin-left: 0%;
    }

    .text-content p {
        width: 490px;
        height: auto;
        text-align: left;
        margin-left: 0%;
    }

    img {
        justify-self: center;
        max-width: 490px;
        height: auto;
        transform: scale(1.2, 1.1);
        margin-left: 17%;
        margin-top: 10px;
    }
  }

  .inverse-content {
    flex-direction: column-reverse;

    img {
      margin-left: 19%;
    }
  }

  .content-end {
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 480px;

    .download {
      width: 380px;
      margin-left: 11%;
      h4, p, .btn {
        width: 380px;
      }
    }
  }
}