// Navigation Styles here

header {
    .display();
    width: 100%;
    border-bottom: 2px dashed silver;
    padding-top: 30px;
    padding-bottom: 30px;

    a {
        text-decoration: none;
        color: @font-color;
        font-size: 1.6rem;
        padding: @padding;
    }

}