
// Color assignments 
@font-color: @gray;
@button-bg: @eastern-blue;
@main-bg:  @gray;
@navigation-border: @silver;
@footer-bg: @sandy-beach;

// Colors
@gray: gray;
@silver: #C0C0C0;
@eastern-blue: #17A2B8;
@sandy-beach: #FFEBCD;

@padding: 20px;

// Escaped values 
@mobile: ~"(max-width: 500px)";