
// Color assignments 
@font-color: @gray;
@button-bg: @eastern-blue;
@main-bg:  @gray;
@navigation-border: @silver;

// Colors
@gray: gray;
@silver: #C0C0C0;
@eastern-blue: #17A2B8;

@padding: 20px;

// Escaped values 
@mobile: ~"(max-width: 500px)";

@tablet: ~"(max-width: 800px)";

@laptop: ~"(max-width: 1440px)";